<div class="seccard">

    <div class="card-body">
        <img src="images/yarn.png">
        <p>Company: {{company}}</p>
        <p>Brand: {{brand}}</p>
        <p>Colorway: {{colorway}}</p>
        <p> Yardage: {{yardage}}</p>
        <p> Grams: {{grams}}</p>
        <p>Weight: {{weight}}</p>
        <p>Skeins: {{skeins}}</p>
        <p>Dye Lot: {{dye_lot}}</p>

    </div>
</div>